<div class="container h-100">
  <div class="outlay__row">
    <div class="outlay__list mt-3 mb-5">
      <ul class="list-group" *ngFor="let outlay of outlayList">
        <li>
          <div class="outlay__card">
            <div class="text-item">
              {{outlay.date | date:'dd.MM'}} {{outlay.position}}: {{outlay.sum | currency:'RUB':'':'1.1-1'}} ({{outlay.userName}})
            </div>
            <div class="btn-item">
              <button type="submit" class="btn button-item" (click)="deleteOutlay(outlay._id)">x</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="outlay__input">
      <div class="form-group mx-3">
        <input
          class="form-control"
          [placeholder]="activeFamily == '000000000000000000000000' ? 'Чтобы ввести значение выберите семью' : positionQty < 1 ? 'Создайте для начала списки' : 'Потрачено'"
          [(ngModel)]="sum" [disabled]="activeFamily == '000000000000000000000000' || positionQty < 1"
        >
      </div>
      <div *ngIf="positionQty < 1">
        <button  class="btn text" routerLink="/setting/position">Создать списки</button>
      </div>
    </div>
    <div class="outlay__position mb-1">
      <div *ngIf="positionList || outlayList; else loader">
        <div class="outlay__item">
          <div class="item" *ngFor="let position of positionList">
            <button type="submit" class="btn position-btn" (click)="createOutlay(position.name)">{{position.name}}</button>
          </div>
        </div>
      </div>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
</div>


<div class="toast">
  <div class="toast-body">
    {{message}}
  </div>
</div>
